---
import { getCollection, render } from "astro:content";

import Layout from "../../layouts/Layout.astro";
import Toc from "../../components/Toc.astro";
import { buildToc, normalizeHeadings } from "../../lib/toc";

const { slug } = Astro.params;
const posts = await getCollection("blog");
const post = posts.find((p) => p.id === slug);

if (!post) {
  return new Response("Not found", { status: 404 });
}

const { isMobile } = Astro.locals;
const { title, date, tags, description, timeToRead } = post.data;
const { Content, headings } = await render(post);

const toc = buildToc(normalizeHeadings(headings));
console.log({ isMobile });
---

<Layout title={title} description={description}>
  <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-10">
    <div class="flex flex-col lg:grid lg:grid-cols-12 lg:gap-12 gap-6">
      <div class="lg:col-span-8 order-2 lg:order-1">
        <article class="bg-white rounded-xl shadow-lg p-6 sm:p-8 lg:p-10 mb-10">
          <div class="mb-6 space-y-2">
            {
              tags.map((tag: String) => (
                <span class="inline-block bg-blue-100 text-blue-800 text-sm font-medium px-3 py-1 rounded-full  mr-2 cursor-default">
                  {tag}
                </span>
              ))
            }
          </div>

          <h1
            class="text-4xl sm:text-5xl font-extrabold text-gray-900 leading-tight mb-4"
          >
            {title}
          </h1>

          <div class="flex items-center text-sm text-gray-500 space-x-2">
            <time datetime={date}>
              Ngày đăng: {date}
            </time>
            <p>Thời gian đọc: {timeToRead} phút</p>
          </div>

          <div class="overflow-hidden rounded-lg shadow-xl">
            <!-- <img
              class="w-full h-auto object-cover"
              src="https://picsum.photos/1200/600"
              alt="Hình ảnh tiêu đề"
            /> -->
          </div>

          <div id="content" class="content-prose">
            <Content />
          </div>
        </article>
      </div>

      <aside
        class:list={[
          { "sticky-aside": !isMobile },
          ["top-0 lg:col-span-4 order-1 lg:order-2 lg:mt-0"],
        ]}
      >
        <div class="bg-white rounded-xl shadow-lg p-6 border border-gray-100">
          <h3 class="text-xl font-bold text-gray-900 mb-4 border-b pb-2">
            📚 Mục Lục
          </h3>
          <nav class="space-y-2 text-sm">
            <Toc items={toc} />
          </nav>
        </div>
      </aside>
    </div>
  </main>
</Layout>
